<!DOCTYPE html>
<html>
<head>
  <title>Valentine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <%= simple_format flash[:notice] %>
<% end%>
<% if flash[:alert] %>
  <%= simple_format flash[:alert] %>
<% end%>


<%= yield %>

</body>
</html>
